@using Forum.Data
@using Forum.Models

@model IEnumerable<Forum.Models.ThreadViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Topic @ViewBag.TopicTitle - Threads</h2>

@if (Model == null && Model.Count() == 0)
{
    <p>No Threads Yet</p>
    <p>
        @Html.ActionLink("Create New", "AddEdit", new { id = "", topicId = ViewBag.TopicId })
    </p>
}
else
{

    <p>
        @Html.ActionLink("Create New", "AddEdit", new { id = "", topicId = ViewBag.TopicId })
    </p>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Post", new { threadId = item.Id })">@item.Title</a>
                    @if (item.Inactive)
                    {
                        <span>[Closed]</span>
                    }
                </td>
                @if (item.PostCount > 0)
                {
                    <td>
                        Last Posted on: @item.LastPost.CreatedAt
                    </td>
                    <td>
                        Replies: @item.PostCount

                    </td>
                }
                else
                {
                    <td>No posts yet</td>
                }

                @if (User.Identity.IsAuthenticated && User.IsInRole(Defines.Role_Admin))
                {
                    <td>
                        @Html.ActionLink("Edit", "AddEdit", new { id = item.Id, topicId = item.TopicId })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>

        }
    </table>
}
